<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Your Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-md-none"> <!-- Hide on MD screens and larger -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <!-- Left column (visible on MD screens and larger) -->
    <div class="col-md-3 d-none d-md-block">
      <ul class="nav flex-column"> <!-- Display links in left column -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
    <!-- Right column -->
    <div class="col-md-9 col-12 bg-secondary text-white">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend turpis eu tortor consectetur, a convallis
        libero mattis. Nulla facilisi. Proin feugiat blandit risus, in ultricies libero tincidunt eu. Nulla facilisi.
        Nulla facilisi.</p>
      <p>Vestibulum vitae turpis eget nisi fringilla suscipit. Aliquam erat volutpat. Mauris sollicitudin lorem et ante
        suscipit, vel accumsan justo egestas. Vivamus ac velit id elit pharetra vehicula sed et ligula. Nunc dignissim,
        magna eu consectetur consequat, dolor est feugiat arcu, ut placerat dolor eros eget odio.</p>

    </div>
  </div>
</div>

<div>
  <p>{{svc1.str}}</p>
  <button (click)="svc1.str = 'Hello from app component'">Change</button>
</div>
<app-foo></app-foo>


<button (click)="goto('/bar')">Bar</button>
<button (click)="goto('/home')">Home</button>
<button (click)="goto('/baz')">Baz</button>
<router-outlet />